<table>
    <tr>
        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Cena</th>
        <th>Ocena</th>
    </tr>
    {{#each items}}
    <tr>
        {{> item}}
    </tr>
    {{/each}}
</table>