<div class="flex">
    <div class="subject">
        {{subject}}
    </div>
    <div class="content">
        {{content}}
    </div>
    <div class="footer">
        {{footer}}
    </div>
</div>