* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}

.nav a {
    padding: 10px;
    text-decoration: underline;
    color: white;
    font-size: 25px;
}

.content {
    height: 100%;
    display: flex;
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input {
    padding: 10px;
}

button {
    width: 100px;
    height: 30px;
}

.menu {
    width: 130px;
    height: 100%;
    background-color: lightskyblue;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
}

table {
    width: 100%;
    height: min-content;
    border-collapse: collapse;
}

th, td {
    height: 50px;
}

td img {
    height: 40px;
}

.filemanager th {
    background-color: lightblue;
}

.filemanager td {
    text-align: center;
}

.info th {
    background-color: lightcyan;
}

.info td {
    text-align: left;
    padding-left: 10px;
}