* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../gfx/kde.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: white;
    text-align: center;
}