body {
    background-color: #fffbff;
}

.gap {
    gap: 10px;
}

.hover {
    transition: 300ms;
}

.hover:hover {
    filter: invert(35%);
}

.text-wrap {
    word-wrap: break-word;
}

.border-radius {
    border-radius: 10px;
}

.boxShadow {
    box-shadow: 0 1px 2px var(--md-sys-color-shadow);
}