* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

nav,
aside,
main {
    padding: 15px;
}

nav {
    background-color: #dcedc8;
    border-bottom: 1px solid #BDBDBD;
}

aside {
    border-right: 1px solid #BDBDBD;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

main {
    width: 100%;
    text-align: center;
}

a {
    color: #1ea89c;
    padding: 3px;
    margin-right: 5px;
}

.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
    gap: 15px;
}

label>* {
    margin: 5px 10px;
}

.w-80 {
    width: 80px;
    text-align: center;
}

.color-box {
    aspect-ratio: 1 / 1;
    min-width: 50px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid gray;
    background-size: cover;
}

.btn {
    border-radius: 30px;
    padding: 5px 10px;
}

.del {
    color: red;
    border-color: red;
}

.update {
    color: #1ea89c;
    border-color: #1ea89c;
}

.info {
    color: rgb(140, 36, 236);
    border-color: rgb(140, 36, 236);
}

#cars-table {
    width: 100%;
    text-align: center;
}

dialog {
    margin: 250px auto;
}

dialog div {
    margin: 20px;
}

.justify-center {
    justify-content: center;
}

.gap {
    gap: 15px
}

#dragDrop {
    position: relative;
    margin: auto;
    width: 80%;
    min-height: 500px;
    border: 2px dashed black;
    border-radius: 30px;
    background-color: rgb(255, 194, 194);
    justify-content: center;
    align-items: center;
    display: flex;
}

#dragDrop p {
    padding-bottom: 15px;
}

#dropItems {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
}

#dropItems img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery div {
    width: 200px;
    height: 150px;
    background-size: cover;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
}

.gallery div a {
    background-color: #dcedc8;
    border-radius: 20px;
    padding: 5px 10px;
}

.bigImage {
    border: 2px dashed gray;
    border-radius: 30px;
    width: 80%;
    z-index: 1;
}

#imgCont {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 10%;
    height: 0;
    width: 80%;
    height: 100%;
    z-index: 2;
    user-select: none;
}

#cropRect {
    position: absolute;
    border: 2px dashed black;
    background-color: #1e3ea880;
    display: none;
    z-index: 3;
}