<div class="login">
    <h2>Login</h2>
    <form action="/login" method="get">
        <input type="text" name="name" placeholder="Enter name">
        <input type="password" name="pass" placeholder="Enter password">
        <button>Login</button>
    </form>
    <a href="/registerPage">Zarejestruj się</a>
</div>