<div class="login">
    <h2>Register</h2>

    <form action="/register" method="get">
        <input type="text" name="name" placeholder="Enter name">
        <input type="password" name="pass" placeholder="Enter password">
        <input type="password" name="confirm" placeholder="Confirm password">
        <button>Register</button>
    </form>
</div>